@media screen and (min-width: 2300px) {
    .Logo {
        width: 20%;
    }

    .TopBox .TB_Content img {
        width: 20%;
    }

    .TopBox .TB_Content .TB_ContText h5,
    .TopBox .TB_Content .TB_ContText h3 {
        font-size: 3.5em;
    }

    .Offer .Offer-list .OfferItem h5 {
        font-size: 2.5em;
    }

    .Offer .Offer-list .OfferItem h2 {
        font-size: 3.5em;
    }

    .Unique .sixlist .sixbox-bottom .sixbox:nth-child(3) {
        position: relative;
        top: -0.3em;
        left: -15.8em;
    }

    .Unique .sixlist .sixbox-top .sixbox:nth-child(1) {
        position: relative;
        top: 3em;
        left: 2.5em;
    }

    .Unique .sixlist .sixbox {
        width: 220px;
        height: 190px;
    }
}

@media screen and (max-width: 1920px) {

    .Logo {
        width: 20%;
    }
}


@media screen and (max-width: 1680px) {

    .Offer .Offer-list .OfferIcon,
    .Offer .Offer-list .OfferItem {
        height: 252.31px;
    }


    .Logo {
        width: 22%;
    }
}

@media screen and (max-width: 1440px) {

    .Offer .Offer-list .OfferIcon,
    .Offer .Offer-list .OfferItem {
        height: 213px;
    }
}


@media screen and (max-width: 1366px) {

    .TopBox .TB_Right .TB_ContText h3 {
        font-size: 3em;
    }

    .TopBox .TB_Right .TB_ContText {
        margin-top: 55px;
    }

    .TopBox .TB_Right .TB_ContText h5 {
        font-size: 1.5em;
    }
}


@media screen and (max-width: 1280px) {

    .Logo {
        width: 24%;
    }

    .Offer .Offer-list .OfferIcon img {
        width: 90%;
    }

    .TopBox .TB_Right .TB_ContText h3 {
        font-size: 4em;
    }

    .TopBox .TB_Right .TB_ContText {
        margin-top: 55px;
    }

    .TopBox .TB_Right .TB_ContText h5 {
        font-size: 1.5em;
    }
}


@media screen and (max-width: 1024px) {

    .TopBox .TB_Right .TB_ContText {
    margin-top: 160px;
}

    .Logo {
            width: 27%;
    top: 8%;
    }

    .TopBox {
        top: 40vh;
    }

    header .header-btn ul li a {
        font-size: 0.8em;
    }

    .TopBox .TB_Content img {
        width: 30%;
    }

    .TopBox .TB_Content .TB_ContText h5 {
        font-size: 2em;
        font-weight: 600;
    }

    .Offer {
        padding: 5% 4%;
    }


    .Offer .Offer-list .OfferItem {
        display: block;
        height: auto;
    }

    .Offer .Offer-list .OfferItem .OfferItemiddle {
        top: 0;
        transform: translateY(0);
        margin-top: 15px;
    }


    .Mission h3 {
        font-size: 1.5em;
    }

    .Offer .Offer-list .OfferIcon {
        height: auto;
    }
}



@media screen and (max-width: 768px) {



    .Logo{
        width: 40%;
    }

    .swiper-button-next, .swiper-button-prev{
        border-color: #0b7efa !important;
    }

    .SlideBox #Home header .rwd-close {
        display: block;
    }

    header .header-btn ul {
        text-align: center;
    }

    .Unique-Serve {

        background-position: right;
    }

    /*漢堡start*/
    #rwd-burger {
        text-align: right;
        padding: 1% 2% 1% 0;
        background: #fffffff5;
        box-shadow: 0 0 5px #2c456382;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }


    .hamburger-menu {
        padding: 0;
        margin: 0;
        background: none;
        border: none;
        display: inline-block;
        vertical-align: middle;
    }

    .hamburger-menu:focus {
        outline: none;
    }

    .icon-bar {
        padding: 0;
        margin: 0;
        background-color: #2861a3;
        display: block;
        height: 4px;
        margin: 5px 0;
        width: 30px;
    }

    header .header-btn ul li a {
        font-size: 3em;
    }

    .TopBanner-bg header .rwd-close {
        display: block;
    }

    .Offer .Offer-list .OfferItem h2 {
        font-size: 2em;
    }

    .Offer .Offer-list .OfferItem h5 {
        font-size: 1.5em;
    }
}


@media screen and (max-width: 640px) {
    /*Top Banner*/
    .swiper-slide_1 {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../images/slide_small1.jpg");
        background-position: left top;
    }

    .swiper-slide_2 {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../images/slide_small2.jpg");
        background-position: right top;
    }

    .swiper-slide_3 {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../images/slide_small3.jpg");
        background-position: right top;
    }

    .TopBox .TB_Right .TB_ContText{
        margin-top: 70px;
    }


    .TopBox .TB_Right .TB_ContText h3 {
        font-size: 5em;
    }

    .TopBox .TB_Right .TB_ContText h5 {
        font-size: 2em;
    }

    #particles-js {
        display: none !important;
    }

    .Logo {
        width: 45% !important;
    }

    .SlideBox {
        display: block;
        height: 100vh;
        position: relative;
        width: 100%;
    }
    /*swiper*/
    .swiper-container {
        width: 100%;
        height: 100%;
        margin: 0 !important;
    }

    .animeBox {
        width: 100%;
        height: 100vh;
        position: absolute;
        flex: none;
        top: 0;
    }

    .TopBox {
        width: 100%;
        height: auto;
        flex: none;
        position: absolute;
        z-index: 1;
    }


    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        left: 50%;
        transform: translateX(-50%);
        margin-left: -25px;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        left: 50% !important;
        transform: translateX(-50%);
        margin-left: 26px;
    }

    .Unique .sixlist {
        left: 0;
    }

    .Unique .sixlist .sixbox-top .sixbox:nth-child(1),
    .Unique .sixlist .sixbox-top .sixbox:nth-child(3),
    .Unique .sixlist .sixbox-bottom .sixbox:nth-child(1),
    .Unique .sixlist .sixbox-bottom .sixbox:nth-child(2),
    .Unique .sixlist .sixbox-bottom .sixbox:nth-child(3) {
        position: relative;
        top: 0;
        left: 0;
    }
}



@media screen and (max-width: 480px) {

    header .header-btn ul li a {
        font-size: 2em;
    }

    .TopBanner-bg {
        background-position: -80px;
    }

    .TopBox .TB_Content .TB_ContText h3 {
        font-size: 2em;
    }

    .TopBox .TB_Content .TB_ContText h5 {
        font-size: 1em;
    }

    .Mission h3 {
        font-size: 1.2em;
    }

    .Offer .Offer-list .OfferItem h2 {
        text-align: left;
        font-size: 2em;
    }

    .Offer .Offer-list .OfferItem h5 {
        font-size: 1.5em;
    }

    .Unique .sixlist .sixbox-top .sixbox:nth-child(1),
    .Unique .sixlist .sixbox-top .sixbox:nth-child(3),
    .Unique .sixlist .sixbox-bottom .sixbox:nth-child(1),
    .Unique .sixlist .sixbox-bottom .sixbox:nth-child(2),
    .Unique .sixlist .sixbox-bottom .sixbox:nth-child(3) {
        position: relative;
        top: 0;
        left: 0;
    }

    .Unique .sixlist {
        left: 0;
    }

    .Serve h3 {
        font-size: 1.5em;
    }

    footer,
    .Unique,
    .Serve,
    .Offer,
    .AboutWe,
    .Mission,
    .JoinUs {
        padding: 10% 4%;
    }
}

@media screen and (max-width: 414px) {

    .Logo {
        width: 55% !important;
    }

    .TopBox .TB_Right .TB_ContText h3 {
        font-size: 2.5em;
    }

    .TopBox .TB_Right .TB_ContText h5 {
        font-size: 2em;
        line-height: 1.3em;
    }
}


@media screen and (max-width: 375px) {

    .Logo {
        width: 60% !important;
    }

    .TopBox .TB_Right .TB_ContText h3 {
        font-size: 2.5em;
    }

    .TopBox .TB_Right .TB_ContText h5 {
        font-size: 1.5em;
        line-height: 1.3em;
    }
}


@media screen and (max-width: 360px) {

    .Logo {
        width: 55% !important;
    }


    .TopBox .TB_Right .TB_ContText h3 {
        font-size: 2.5em;
    }

    .TopBox .TB_Right .TB_ContText h5 {
        font-size: 1.5em;
        line-height: 1.3em;
    }

    header .header-btn ul li a {
        font-size: 2em;
    }

    .Mission h3 {
        line-height: 1.5em;
    }


    .TopBox .TB_Content .TB_ContText h3 {
        font-size: 1.5em;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 88% !important;
    }
}



@media screen and (max-width: 320px) {

    .TopBox .TB_Right .TB_ContText {
        margin-top: 40px;
    }

    .TopBox .TB_Content .TB_ContText h3 {
        font-size: 1.5em;
        margin: 0 10px;
    }
}
















/*漢堡*/

@media screen and (max-width: 768px) {

    header {
        width: 100%;
        background: #5f90cc !important;
        position: fixed;
        top: 0;
        z-index: 10000;
        height: 100vh;
    }

    header .header-btn ul li {
        list-style: none;
        display: block;
        padding: 3%;
    }

    header .header-btn {

        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    header .header-btn ul li a {
        color: #fff;
    }
}


















/*Unique的位置調整*/

@media screen and (min-width: 1280px) {

    .Unique .sixlist .sixbox-top .sixbox:nth-child(1) {
        position: relative;
        top: 3em;
        left: 2em;
    }

    .Unique .sixlist .sixbox-top .sixbox:nth-child(3) {
        position: relative;
        left: -3.8em;
        top: 6em;
    }

    .Unique .sixlist .sixbox-bottom .sixbox:nth-child(1) {
        position: relative;
        left: -8.7em;
        top: -3.5em;
    }

    .Unique .sixlist .sixbox-bottom .sixbox:nth-child(2) {
        position: relative;
        left: -12.8em;
        top: 2.8em;
    }

    .Unique .sixlist .sixbox-bottom .sixbox:nth-child(3) {
        position: relative;
        top: -0.3em;
        left: -14.7em;
    }
}

@media screen and (min-width: 1680px) {

    .Unique .sixlist .sixbox-top .sixbox:nth-child(1) {
        position: relative;
        top: 3em;
        left: 2em;
    }

    .Unique .sixlist .sixbox-top .sixbox:nth-child(3) {
        position: relative;
        left: -4.5em;
        top: 6.3em;
    }

    .Unique .sixlist .sixbox-bottom .sixbox:nth-child(1) {
        position: relative;
        left: -8.7em;
        top: -3.5em;
    }

    .Unique .sixlist .sixbox-bottom .sixbox:nth-child(2) {
        position: relative;
        left: -13.1em;
        top: 2.5em;
    }

    .Unique .sixlist .sixbox-bottom .sixbox:nth-child(3) {
        position: relative;
        top: -0.3em;
        left: -15.2em;
    }
}






/*平板寬高*/

@media screen and (width: 1024px) and (height: 1366px) {

    .Logo {
        width: 33%;
        margin-top: 20%;
    }
}